html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 1px solid red; */
}

/* колір oсновного тексту #212121; */
/* другорядний колір тексту rgba(0,0,0, 0.6); */
/* білий #ffffff; */
/* акцент #2196F3; */
/* другорядний колір фону #F5F5F5; */

:root {
    --primary-text-color: rgba(0,0,0, 0.6);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --primary-fon-color: #757575;
    --fon-color: ECECEC;
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0,03em;
}

h1,h2,h3,p,ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* хедер */

.logo {
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
}

.header-logo-text:hover,
.header-logo-text:focus {
    color: var(--accent-color);
}

.header-logo-text {
    margin-right: 93px;
    color: var(--title-text-color);
}

.header-navigation-ofis,
.header-navigation-portfilio,
.header-navigation-contact {
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.header-navigation-ofis,
.header-navigation-portfilio {
    margin-right: 50px;
}

.header-navigation-ofis:hover,
.header-navigation-portfilio:hover,
.header-navigation-contact:hover {
    color: var(--accent-color);
}

.header-navigation-ofis:focus,
.header-navigation-portfilio:focus,
.header-navigation-contact:focus {
    color: var(--accent-color);
}

.header-navigation-contact-accent,
.header-navigation-contact-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
    color: var(--primary-fon-color);
}

.header-navigation-contact-item {
    margin-left: 50px;
}

.header-navigation-contact-accent:hover,
.header-navigation-contact-item:hover {
    color: var(--accent-color);
}

.header-navigation-contact-accent:focus,
.header-navigation-contact-item:focus {
    color: var(--accent-color);
}

/* флекс */


.pages-link {
    display: flex;
   
}

.remote-link {
    display: flex;
    margin-left: auto;
}
 
.header-nav {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
}

.hero-button {
    display: flex;
    justify-content: center; 
}

.main-quality {
    display: flex;
   justify-content: center;
}

.about-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list {
    margin-bottom: 30px;
}

.work-list {
    display: flex;
    justify-content: center;
}

.comanda-list {
    display: flex;
    justify-content: center;
}


/* кнопки */

.main-hero {
    
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}

.main-hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);      
}

.main-hero-button {
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.2;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.main-hero-button:hover,
.main-hero-button:focus {
    background-color: #188CE8;
    color: var(--primary-white-color);
}

.hero-button {
    padding-top: 94px;
    padding-bottom: 50px;
}
.hero-but {
    padding: 6px 22px;
    margin-right: 30px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
}

.hero-but:hover,
.hero-but:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* main */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-work-title {
    margin-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.comanda-title {  
    margin-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.list-quality {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 270px;
    margin-right: 30px;
}

.list-quality:last-child {
  margin-right: 0;  
}

.quality {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.quality-details {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-fon-color);
}

.main-work-link {
    margin-right: 30px;
}

.main-work-link:last-child {
    margin-right: 0;
}

.main-work-icon {
    background-color: #2196F3;
    display: block;
}

.comanda-link {
    margin-right: 30px;
}

.comanda-link:last-child {
    margin-right: 0;
}

.comanda-one-of {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.position {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-fon-color);
}

.about-main-project {
    margin-left: 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.about-main-text {
    margin-left: 24px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-fon-color);
}

.about-main-link {
    margin-left: 0;
    text-decoration: none;
}

/* footer */

.footer {
    background-color: #2F303A;
}

.footer-logo-text {
   display: inline-block;
   padding-top: 60px;
    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
}

.footer-logo-text:hover,
.footer-logo-text:focus {
    color: var(--accent-color);
}

.footer-address {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 9px;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}
.footer-contact-accent,
.footer-contact-item {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-fon-color);
}

.footer-contact-accent {
    padding-bottom: 9px;
}

.footer-contact-item {
    padding-bottom: 90px;
}

ul {
    list-style: none;
}
